* {
  margin: 0;
  padding: 0; }

.card {
  background-image: linear-gradient(#93c4ef, #e2e1d9);
  box-shadow: 6px 6px 4px 1px rgba(60, 159, 171, 0.75);
  -webkit-box-shadow: 6px 6px 4px 1px rgba(60, 159, 171, 0.75);
  -moz-box-shadow: 6px 6px 4px 1px rgba(60, 159, 171, 0.75); }

.card-img-top {
  width: 200px;
  height: 200px; }

.card-title {
  font-size: 1.2em; }

.footer__redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.3em;
  margin-top: 9em;
  background-image: linear-gradient(#93c4ef, #e2e1d9); }

.footer_lettersnew {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.key1 {
  width: 2em; }

.key2 {
  width: 2em; }

.key3 {
  width: 2em; }

body {
  background-image: linear-gradient(#e2e1d9, #93c4ef); }

.position_up {
  position: absolute;
  top: 1.1em;
  right: 13em;
  padding-right: 5em; }
  .position_up button {
    margin-right: 0.5em; }

.btn-car, .card-btn, .addProduct {
  background-color: #93c4ef;
  border: 1px solid rgba(60, 159, 171, 0.75);
  color: black; }
  .btn-car:hover, .card-btn:hover, .addProduct:hover {
    color: black;
    background-color: #93c4ef;
    border: 1px solid rgba(60, 159, 171, 0.75);
    transform: scale(1.1); }

.index__nav {
  height: 5em;
  background-image: linear-gradient(#93c4ef, #e2e1d9);
  box-shadow: 0px 6px 5px 0px rgba(60, 159, 171, 0.75);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(60, 159, 171, 0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(60, 159, 171, 0.75); }

.main__options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
  padding-left: 1em; }

.search__box {
  margin: 1em;
  width: 20em;
  height: 2.375em; }
