
.card {
    background-image: linear-gradient($color-secondary, $color-primary);
    box-shadow: 6px 6px 4px 1px $color-shadow;
    -webkit-box-shadow: 6px 6px 4px 1px $color-shadow;
    -moz-box-shadow: 6px 6px 4px 1px $color-shadow;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card-title {
    font-size: 1.2em;
}

.card-btn {
    @extend .btn-car;
}
