* {
    margin: 0;
    padding: 0;
}

@import 'variables';
@import 'cards';
@import 'footer';

body {
    background-image: linear-gradient($color-primary, $color-secondary);
}

.position_up {
    position: absolute;
    top: 1.1em;
    right: 13em;
    padding-right: 5em;

    button {
        margin-right: 0.5em;
    }
}

.btn-car {
    background-color: $color-secondary;
    border: 1px solid $color-shadow;
    color: black;
    &:hover {
        color: black;
        background-color: $color-secondary;
        border: 1px solid $color-shadow;
        transform: $hover-scale;
    }
}

.index__nav {
    height: 5em;
    background-image: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0px 6px 5px 0px $color-shadow;
    -webkit-box-shadow: 0px 6px 5px 0px $color-shadow;
    -moz-box-shadow: 0px 6px 5px 0px $color-shadow;
}

.main__options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    padding-left: 1em;
}

.search__box {
    margin: 1em;
    width: 20em;
    height: 2.375em;
}

.addProduct {
    @extend .btn-car;
}



