* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#e2e1d9, #93c4ef);
}

.position_up {
    position: absolute;
    top: 2em;
    right: 1em;

    button {
        margin-right: 0.5em;
    }
}

.index__header {
    height: 6em;
    background-image: linear-gradient(#77cbe3, #e2e1d9);
    border-bottom: 2.5px solid #88856820;
}

.index__Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    padding-left: 1em;
}

.search_box {
    width: 20em;
    height: 2em;
}

.index__buttoms {
    margin: 1em;
    background-color: #77cbe3;
    border: 1px solid #6eafc2;
    color: black;
}


/* Store */

.card {
    background-image: linear-gradient(#77cbe3, #e2e1d9);
    box-shadow: 6px 6px 4px 1px rgba(60, 159, 171, 0.75);
    -webkit-box-shadow: 6px 6px 4px 1px rgba(60, 159, 171, 0.75);
    -moz-box-shadow: 6px 6px 4px 1px rgba(60, 159, 171, 0.75);
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card-title {
    font-size: 1.2em;
}


//Footer

.footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.3em;
    margin-top: 9em;
}

.footer_lettersnew {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

$logos: (
    key1: twitter,
    key2: facebook,
    key3: instagram
);

@each $key,
$redes in $logos {
    .#{$key} {
        width: 2em;
    }
}